<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>登录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- <link rel="alternate icon" type="image/png" href="assets/i/favicon.png"> -->
  <link rel="stylesheet" href="/lib/mui/css/amazeui.css" />
  <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
  <div class="header">
    <div class="am-g">
      <h1>大叔的博客</h1>
      <p>Welcome to uncle's blog.<br />梦想有多大，路有多远，加油，大叔</p>
    </div>
    <hr />
  </div>
  <div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <h3>登录</h3>
      <hr>
      <div class="am-btn-group">
        <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
        <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-twitter am-icon-sm"></i>
          twitter</a>
        <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-facebook am-icon-sm"></i>
          facebook</a>
      </div>
      <br>
      <br>

      <form method="post" action="login" class="am-form">
        <label for="email">邮箱:</label>
        <input type="email" name="" id="email" value="">
        <br>
        <label for="password">密码:</label>
        <input type="password" name="" id="password" value="">
        <br>
        <label for="remember-me">
          <input id="remember-me" type="checkbox">
          记住密码
        </label>
        <br />
        <div class="am-cf">
          <a href="javascripe:;" class="am-btn am-btn-primary am-btn-sm am-fl loginBtn">登 录</a>
          <span class="am-btn am-btn-default am-btn-sm am-fr">忘记密码 ^_^? </span>
        </div>
      </form>
      <hr>
      <!-- <p>由 大叔 提供技术支持 CopyRight©2014 AllMobilize Inc. 京ICP备130331908</p> -->
    </div>
  </div>
  <!-- 页脚 -->
  <footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
        大叔的博客
      </span>
      <span class="am-footer-divider"> | </span>
      <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
        电脑版
      </a>
    </div>
    <div class="am-footer-miscs ">

      <p>由 <a href="http://www.yunshipei.com/" title="诺亚方舟" target="_blank" class="">大叔</a>
        提供技术支持</p>
      <p>CopyRight©2014 AllMobilize Inc.</p>
      <p>京ICP备130331908</p>
    </div>
    <div data-am-widget="gotop" class="am-gotop am-gotop-default">
      <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
      </a>
    </div>
  </footer>
</body>
<script src="/lib/jquery/jquery.min.js"></script>
<script>
  $(function () {
    $('.loginBtn').on('click', function () {
      var email = $('#email').val();
      var password = $('#password').val();
      if (email == '' && email.trim() == '') {
        console.log('邮箱不能为空')
        return;
      }
      if (password == '' && password.trim() == '') {
        console.log('密码不能为空')
        return;
      }
      $.ajax({
        url: 'http://127.0.0.1:3000/api/getlist',
        type: 'get',
        dataType: 'json',
        success: function (res) {
          console.log(res)
          // if(){

          // }
        }
      })
    })
  })
</script>

</html>