/* 我是公共样式 */
@import '_base.scss';

// 头部导航栏
.header_bgColor {
	background-color: #444;
	padding: 0 40px;

	.header_logo {
		a {
			color: #ccc;
		}

	}

	.am-nav {
		li {
			a {
				color: #ccc;

				&:hover {
					color: #0e90d2;
					background-color: #0e91d200;
				}
			}
		}
	}



	.header_logo {
		margin-right: 10px;
	}

	.header_search {
		width: 100px;
	}


}

// 中间内容部分
.am-container {
	max-width: 1200px;
	// padding: 0 10px;

	.main {
		margin-bottom: 30px;

		.aside_left {
			padding: 0;
			background-color: #fff;
			// height: 1000px;
			box-sizing: border-box;
			border-radius: 3px;
			overflow: hidden;
			position: relative;
			// margin-right: 10px;

			.aside_left_top {
				ul {
					background-color: #f6f6f6;
					padding: 0 10px;
				}
			}

			.aside_left_bottom {
				.am-list {

					li {

						.am-list-thumb {
							height: 62px;

							padding-top: 10px;

							a {
								overflow: hidden;
								border-radius: 50%;
								background-color: #ccc;
							}

						}
					}
				}
			}

			.am-pagination {
				display: flex;
				justify-content: center;
				margin-left: 0px;
				margin-right: 0px;
				// width: 100%;
				// position: absolute;
				// bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
			}

		}

		.aside_right {
			background-color: #e1e1e1;
			// margin-left: 10px;
			padding: 0;
			padding-left: 10px;


			.aside_right_content {
				// height: 1000px;
				padding-top: .5rem;
				padding-bottom: .1rem;
				background-color: #fff;

				.am-accordion {
					margin: 0 .5rem;

					.am-accordion-item {
						margin-top: 0px;
					}
				}
			}
		}
	}
}

// 页脚部分
footer {
	// position: fixed;
	// bottom: 0;
	// left: 0px;
	position: relative;

	.am-gotop {
		position: absolute;
		bottom: 10px;
		right: 90px;
	}
}